@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, cupcake;
}
@import "./styles/_variables.scss";
@import "./styles/_keyframe-animations.scss";

.prose li {
  list-style-type: disc;
  margin-left: 1rem;
}

.prose ol {
  list-style-type: decimal;
  margin-left: 1rem;
}

.collaboration-carets__caret {
  border-left: 2px solid currentColor;
  margin-left: -1px;
  margin-right: -1px;
  position: relative; /* So the label can be positioned absolutely inside */
  z-index: 1000;
}

.collaboration-carets__label {
  position: absolute;
  top: -1.2em; /* Position above the caret */
  left: -1px;
  background-color: currentColor;
  color: #fff;
  font-size: 12px;
  padding: 2px 4px;
  border-radius: 2px;
  white-space: nowrap;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  transform: translateX(-50%); /* Center label above caret */
  pointer-events: none; /* Don't block mouse events */
  z-index: 1001;
}

.tiptap:focus {
  outline: none;
}

.tiptap [contenteditable]:focus {
  outline: none;
}

.font-spaceGrotesk {
  font-family: "Space Grotesk", sans-serif;
}
.font-inter {
  font-family: "Inter", sans-serif;
}
.glass {
  background: linear-gradient(
    135deg,
    rgba(99, 102, 241, 0.3),
    rgba(139, 92, 246, 0.3)
  );
  backdrop-filter: blur(12px);
  border: none;
}
.glass:hover {
  background: linear-gradient(
    135deg,
    rgba(99, 102, 241, 0.4),
    rgba(139, 92, 246, 0.4)
  );
}
body {
  overflow-x: hidden;
}

.parallax-laptop {
  box-shadow: 0 20px 50px -20px rgba(139, 92, 246, 0.4),
    0 0 0 1px rgba(255, 255, 255, 0.1);
}

.main-bg {
  background: linear-gradient(
    135deg,
    rgba(240, 249, 255, 0.5),
    rgba(230, 247, 255, 0.5)
  );
  backdrop-filter: blur(10px);
}



.ai-model-glow {
  box-shadow: 
    0 0 30px -10px rgba(139, 92, 246, 0.4),
    0 0 0 1px rgba(255, 255, 255, 0.1);
}